<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/bae3523968.js"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>Le titre de ma page</title>
  </head>
  <body class="gridbody">
    <div class="flexdiv el el1" style="width:100%;" >
      <input type="textarea" placeholder="I'm looking for ..." style="width: 80%;" />
      <div class="flexdiv" style="height:100%;">
        <button style="height:30px;width:30px;">
          <i class="fa-solid fa-magnifying-glass" ></i>
        </button>
      </div>
  </div>
    <div class="el2 el">2</div>
      
    <div class="el3 el">
      <div class="shortcommerce">
        <div class="flexdiv"  style="font-size: 20px; height: 40px;">
          <p>nom du commerce</p>
        </div>
        <div class="flexdivleft aze">
          <p>type de commerce</p>
        </div>
        <div class="flexdivleft aze">
          <p><address>addresse</address></p>
        </div>
        <div class="flexdiv aze"  style="font-size: 18px;">
          <p>adaptation</p> <i class="fa-solid fa-x" style="margin-left: 15px;"></i>
        </div>
      </div>
      <div class="shortcommerce">
        <div class="flexdiv"  style="font-size: 20px; height: 40px;">
          <p>nom du commerce</p>
        </div>
        <div class="flexdivleft aze">
          <p>type de commerce</p>
        </div>
        <div class="flexdivleft aze">
          <p><address>addresse</address></p>
        </div>
        <div class="flexdiv aze"  style="font-size: 18px;">
          <p>adaptation</p> <i class="fa-solid fa-check" style="margin-left: 15px;"></i>
        </div>
      </div>
    </div>
  </div>
    <div class="flexdiv el4 el">MAP</div>
  </body>
</html>
